<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
        EAIS is an international Co-Educational School providing a British Curriculum 
        based on the Private School System. The school admits children from Pre-School to
         Pre-University. In Year seven (Secondary School),
         students will continue with the British curriculum towards their university entrance
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Levels Covered</h6>
        <ul class="footer-links">
          <li><a href="#">Primary Education</a></li>
          <li><a href="#">Secondary-IGCSE</a></li>
          <li><a href="#">Secondary-A-Level</a></li>
         
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Help Line</h6>
        <ul class="footer-links">
          <li><a href="#">itsupport@eais-edu.com</a></li>
          <li><a href="#">info@eais-edu.com</a></li>
         
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; East Airport International School 2021 All Rights Reserved by 
     <a href="#">EAIS IT Department</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          
        </ul>
      </div>
    </div>
  </div>
</footer>